* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.contenitore {
  width: 90%;
  margin: 0 auto;
}

.section {
  width: 100%;
  margin: 40px 0px;
  h2 {
    font-size: 20px;
  }
  span {
    display: block;
    margin-top: 20px;
    font-size: 15px;

  }
}
